<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script 
    src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>
<body>
    <h1>사용자 검증</h1>
    <table id="viewUserAuthority">
        <h1 id="mpaCOMPANY"></h1>
        <tr>
            <td>NAME: </td>
            <td id="NAME"></td>
        </tr>
        <tr>
            <td>ID: </td>
            <td id="ID"></td>
        </tr>
        <tr>
            <td>EMAIL: </td>
            <td id="EMAIL"></td>
        </tr>
        <tr>
            <td>등록시간: </td>
            <td id="updatedAt"></td>
        </tr>
        <tr>
            <td>상태: </td>
            <td id="MPA"></td>
        </tr>
        <tr>
            <td>
                <input type="button" value="등록" onclick="addSetUserBtn()">
            </td>
            <td>
                <input type="button" value="삭제" onclick="deleteSetUserBtn()">
            </td>
            <td>
                <input type="button" value="emailSend" onclick="emailSend()">
            </td>
            <td>
                <input type="button" value="목록" onclick="window.location.href='/viewAuthority'">
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="/controller/setUserShow.js"></script>
</body>
</html>